.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляет многоточие, если текст обрезается */
    white-space: nowrap; /* Запрещает перенос текста */
}

.img-container {
    width: 100%;
    height: 0;
    padding-top: 150%; /* Соотношение сторон: 3:2 */
    position: relative;
    overflow: hidden;
    border-radius: 8px; /* Скругление углов */
    background-color: #f0f0f0; /* Цвет фона */
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Масштабируем изображение, чтобы оно полностью помещалось в контейнер */
    object-position: center;
    background-color: #fff; /* Фон для пустых областей, если изображение не заполняет контейнер */
}
