.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляет многоточие, если текст обрезается */
    white-space: nowrap; /* Запрещает перенос текста */
}

.image-container {
    width: 100%; /* Контейнер занимает всю ширину родителя */
    aspect-ratio: 16 / 9; /* Соотношение сторон, например, 16:9 */
    overflow: hidden; /* Скрывает части изображения за пределами контейнера */
    position: relative;
    background: #000; /* Черный фон для эстетики */
}

.image-container img {

    height: 100%; /* Изображение подстраивается по высоте контейнера */
    object-fit: cover; /* Масштабирует изображение, сохраняя пропорции */
    position: absolute;
    top: 0;
    left: 0;
}
