{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Левая часть: изображение -->
        <div class="col-md-4">
<!--            <img src="{{ movie.get_image_url }}" class="img-fluid rounded mx-auto d-block" alt="{{ movie.title }}">-->
            <div class="container">
                <img src="{{ movie.get_image_url }}" class="img-fluid rounded" alt="{{ movie.title }}">
            </div>


            <!-- Видео -->
<!--            {% if movie.trailer %}-->
<!--            <div class="mt-3">-->
<!--                <video controls class="w-100 rounded">-->
<!--                    <source src="{{ movie.trailer }}" type="video/mp4">-->
<!--                    Ваш браузер не поддерживает просмотр видео. <a href="{{ movie.trailer }}" target="_blank">Смотреть трейлер</a>.-->
<!--                </video>-->
<!--            </div>-->
<!--            {% endif %}-->


        </div>

        <!-- Правая часть: информация, рейтинг, рецензии -->
        <div class="col-md-8">
            <h2>{{ movie.title }}</h2>

            <h6 class="card-text text-muted mb-1 text-truncate">
                {{ movie.media_type.name }}
            </h6>

            <p>{{ movie.description }}</p>

            <ul class="list-unstyled">
                <li><strong>Год производства:</strong> {{ movie.year }}</li>
                <li><strong>Страны:</strong> {{ movie.countries.all|join:", " }}</li>
                <li><strong>Жанры:</strong> {{ movie.genres.all|join:", " }}</li>
                <li><strong>Режиссеры:</strong> {{ movie.directors.all|join:", " }}</li>
                <li><strong>Актеры:</strong> {{ movie.actors.all|join:", " }}</li>
            </ul>
            <div class="d-flex align-items-center mt-3">
                <i class="bi bi-star-fill text-warning me-2"></i>
                <span class="fs-5">{{ movie.average_rating|default:"0.0" }}</span>
                <span class="text-muted ms-2">({{ movie.rating_count|default:"0" }})</span>
            </div>

            <!-- Блок "Моя оценка" и "Написать рецензию" -->
            {% if user.is_authenticated %}
            {% include "movies/user_interaction.html" %}
            {% endif %}

            <!-- Список рецензий -->
            <div class="mt-4">
                <h5>Рецензии зрителей</h5>
                {% include "movies/review_list.html" %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
