<header class="bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h4 m-0">Movies Point</h1>
        <div>
            {% if user.is_authenticated %}
                <span class="me-3">
                    <i class="bi bi-emoji-smile" style="font-size: 1.5rem;"></i>
                </span>
                <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Выход</button>
                </form>
            {% else %}
                <button class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Вход</button>
                <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#registerModal">Регистрация</button>
            {% endif %}
        </div>
    </div>
</header>
