name: Copy to Server

on:
  workflow_dispatch: # Ручной запуск через интерфейс GitHub Actions
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SERVER_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

    - name: Copy repository to server
      run: |
        rsync -avz --delete \
          --exclude='.git' \
          --exclude='.env' \
          --exclude='.env.example' \
          --exclude='.gitignore' \
          --exclude='docker-compose.db.yml' \
          --exclude='.github/' \
          --exclude='data/' \
          ./ \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SERVER_USER }}/movies-x-point/

